body{
	margin: auto;
	padding: 0px;
	background-color: #ffffff;
	color: #000000;
	font-family: "Lucida Grande",Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}
h1{
	font-size:24px;
	font-weight:400;
	
}
/*-------------------------------------------------
Module BAR
-------------------------------------------------*/

#module_bar{
	padding-left:35px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	height: 25px;
	vertical-align: middle
	
}
#module_bar p{
	padding-top:7.5px;
}

/*-------------------------------------------------
HEADER
-------------------------------------------------*/

#header{
	background-color:#C5E2E9 ;
	height: 72px;
}

#header h3{

	padding-top:7px;
	padding-right:20px;
	padding-bottom:7px;
	padding-left:25px;
	text-align: right;
	line-height:14px;
	vertical-align: baseline;
	width:300px;
	height: 16.2333px;
	position: relative;
	display: block;
	float:right;
}

#header h1{
	padding-left: 5px;
	text-align: left;
	line-height:30px;
	vertical-align:baseline;

	margin-left:30px;
	padding-bottom:10px;
	position: static;
	display: block;
	
}

#Tabs{
	font-size: 16px;
	line-height: 20px;
	height:25px;
	margin-right:25px;
	margin-left:30px;
	position:static;
	display:block;
}
#Tabs ul{
	color:#222222;
	
}
#MainTabs li{
	display: inline;
	list-style-type:none;
	list-style-image:none;
	
}

#MainTabs a{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 13px;
	background-color: 	#42577B;
	width: 44.35px;
	height: 13px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left:8px;
	border: 1px 1px 1px 1px;
	border-style: solid;
	text-decoration: none;
	
}

/*-------------------------------------------------
HEADER
-------------------------------------------------*/
#Wrapper{
	margin: 0 auto;
	padding: 12px 23px 0 30px;
	background-color: #E5E5E5;
	height:774px;
}
table.layout {
  clear: left;
  border-collapse: collapse;
  width: 100%;
}

table.layout td.left,
table.layout td.right {
  vertical-align: top;
  padding: 0;
}

table.layout td.left {
  width: 70%;
}

table.layout td.right {
  width: 30%;
}

div.Left {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 70%;
	float: left;
	w
	}

div.Right {
	margin: 0px 0 0 0;
	padding: 0;
	text-align: left;
	/*position: absolute;*/
	float: left;
	width: 30%;
	}

table.layout td.left div.Left,
table.layout td.right div.Right {
  width: auto;
  float: none;
}

.col {
	padding: 0 20px;
	text-align: left;
}

.Left .col,
.Full .col {
	padding: 0 8px 0 0;
  background: #fff url(/images/right-bg.gif) right repeat-y;
  position: relative;
}

.Left .innercol,
.Full .innercol {
  padding: 15px 60px 20px 23px;
}

div.Left div.bottom,
div.Full div.bottom {
  background: url(/images/bottom-bg.gif) top right no-repeat;
  font-size: 8px;
}

div.Right .col {
	min-width: 200px;
	padding: 0 0 0 9px;
}

  

/****************************************
Login 
*****************************************/
div#LogoBox {
	
margin-bottom:15px;
}
div#LogoBox p {
	text-align:center;
}
div#LogoBox img {
text-align:center;
margin-top:0px;
margin-top:0px;
padding:5px 0 0;

}
div#LogoBox.white img {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
padding:10px;
}
div#LogoBox img {

max-width:300px;
}

body.login {
background-color:#E5E5E5;
color:#000000;
}
body.login a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
color:#0033CC;
text-decoration:underline;
}
body.login div#LogoBox {
margin-top:50px;
}
body.login div.login_dialog {
background-color:#F5F5F5;
}
body.login div.login {
background-color:#F5F5F5;
border:10px solid #CCCCCC;
font-family:lucida grande,verdana;
font-size:12px;
margin:50px auto;
padding:20px;
text-align:left;
width:400px;
}
body.login div.login p {
margin:0 0 15px;
padding:0;
}
body.login div.login div.flash {
font-size:12px;
margin:15px 0;
padding:7px 5px;
}
body.login div.login div.error {
background-color:#F5E6E6;
border-bottom:1px solid #990000;
border-top:1px solid #990000;
color:#990000;
}
body.login div.login div.confirm {
background-color:#E6F5EA;
border-bottom:1px solid #339933;
border-top:1px solid #339933;
color:#339933;
}
body.login div.login h1 {
color:#000000;
font-size:16px;
margin:0 0 20px;
padding:0;
}
body.amnesia div.login h1 {
margin-bottom:5px;
}
body.login div.login h2 {
color:#000000;
font-size:12px;
margin:0 0 2px;
padding:0;
}
body.login div.login input {
font-size:14px;
margin-bottom:10px;
padding:3px;
width:275px;
}
body.login div.login label {
margin-bottom:10px;
}
body.login div.login label input {
margin-bottom:0;
}
body.login div.login input.auto {
width:auto;
}
body.login div.login input.button {
font-size:14px;
margin:10px 0 0;
padding:3px;
width:auto;
}
body.login div.login div.extras {
border-top:1px dashed #999999;
margin-top:20px;
padding-top:10px;
}
body.login div.login div.extras ul {
margin:0 0 0 17px;
padding:0;
}
body.login div.login div.extras ul li {
font-size:12px;
list-style-image:none;
list-style-position:outside;
list-style-type:square;
padding-bottom:3px;
}
body.amnesia div.login {
width:550px;
}
body.amnesia div.login div.note {
border-left:3px solid orange;
float:right;
font-size:12px;
margin-left:20px;
padding-left:10px;
width:200px;
}
body.amnesia div.login input {
margin-bottom:0;
}
body.amnesia div.login input.button {
margin-bottom:25px;
}


/********************************
home page
*********************************/
div#welcome {
padding: 15px 15px 15px 15px;
	
}



/********************************
Patients
*********************************/
.patient_listing{
	padding: 15px 15px 15px 15px;

}






/********************************
Flash
*********************************/
#Flash {
border:1px solid #CCCCCC;
font-size:14px;
margin-bottom:12px;
padding:5px 5px 5px 30px;
text-align:left;
}
.login #Flash {
font-size:12px;
margin-top:12px;
}
#Flash.flash_notice {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E2F9E3 url(/images/alertgood_icon.gif) no-repeat scroll left center;
border-color:#99CC99;
color:#006600;
}
#Flash.flash_alert {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#CC0000 url(/images/alertbad_icon.gif) no-repeat scroll left center;
border-color:#CC9999;
color:#FFFFFF;
}
#Flash.flash_alert a {
color:#FFFFFF;
}
#Flash.flash_alert a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#000000 none repeat scroll 0 0;
}
