<h1>Home#index</h1>
<p>Welecome to medadata</p>
<% content_for :side do %>
	<h4>Side Task bar</h4>
	<ul>
		<li> New Patient </li>
		<li> New Institution </li>
		<li> New Encounter </li>
		<li> New Patient </li>
		<li> New Patient </li>
	</ul>	
<% end %>